<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="gibraltar">
      <section name="listener" type="Gibraltar.Agent.ListenerElement, Gibraltar.Agent"/>
      <section name="packager" type="Gibraltar.Agent.PackagerElement, Gibraltar.Agent"/>
      <section name="publisher" type="Gibraltar.Agent.PublisherElement, Gibraltar.Agent"/>
      <section name="sessionFile" type="Gibraltar.Agent.SessionFileElement, Gibraltar.Agent"/>
      <section name="viewer" type="Gibraltar.Agent.ViewerElement, Gibraltar.Agent"/>
      <section name="properties" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <gibraltar>
    <!-- <listener enableConsoleRedirector="true" catchUnhandledExceptions="true" /> -->
    <packager destinationEmailAddress="support@gibraltarsoftware.com" />
  </gibraltar>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <appender name="GibraltarAppender" type="Gibraltar.Agent.Log4Net.GibraltarAppender, Gibraltar.Agent.Log4Net" >
      <param name="EndSessionOnAppenderClose" value="true" />
      <!-- This is optional; it is true by default -->
      <!-- param name="SeverityCritical" value="Fatal" / -->
      <!-- Look up "Fatal" level for setting -->
      <!-- param name="SeverityError" value="blah" / -->
      <!-- Non-existant Level name, will look up "Error" instead -->
      <!-- param name="SeverityWarn" value="50000" / -->
      <!-- Set at 50,000; Will treat Notice as a Warn -->
      <!-- param name="SeverityInfo" value="" / -->
      <!-- Should look up "Info" as default -->
      <!-- param name="SeverityVerbose" value="blah" / -->
      <!-- Illegal value, should end up as 0 -->
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="GibraltarAppender" />
    </root>
  </log4net>
  <!-- <system.diagnostics>
    <trace useGlobalLock="false" indentsize="4">
      <listeners>
        <add name="Gibraltar" type="Gibraltar.Agent.LogListener, Gibraltar.Agent" />
      </listeners>
    </trace>
  </system.diagnostics>
  -->
</configuration>